.land-navbar {
  padding: 20px;
  color: #fff;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.land-navbar nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.land-navbar a.brand {
  margin-right: auto;
  color: #fff;
  text-decoration: none;
}
.land-navbar a.auth {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  padding: 4px;
  border: 1px solid #fff;
  width: 100px;
  border-radius: 50px;
}
.land-navbar a.auth:hover {
  background: #fff;
  color: #333;
  transition: all 0.4s ease-out;
}
