.create {
  color: #555;
  max-width: 600px;
  margin: 60px auto;
}
.create label {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.create input {
  align-items: flex-end;
  background: #f1fcff;
}

.create p {
  margin-top: 0px;
  font-size: 0.8em;
  text-align: center;
}
.create button {
  display: block;
  font-size: 1em;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
.ingredients {
  display: flex;
  align-items: center;
}

.add-btn {
  margin-bottom: 10px;
  height: 46px;
  border-radius: 0 5px 5px 0;
}
